
<div class="login-box">
    <div class="login-logo">
        <b>Kine</b> Shop
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Đổi mật khẩu</p>

        <form action="~/Account/ChangePassword" method="post">
            @Html.AntiForgeryToken()
            @{
                var userAccount = Converter.CookieToUserAccount(User.Identity.Name);
            }
            <div class="form-group has-feedback">
                <input name="userName" value="@userAccount.Email" type="text" class="form-control" readonly>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input name="oldPassword" value="@userAccount.Password" type="password" class="form-control" placeholder="Nhập mật khẩu cũ" autofocus>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input name="newPassword" type="password" class="form-control" placeholder="Nhập mật khẩu mới">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    @Html.ValidationMessage("", "", new { @style = "color:#f00" })
                </div>
                <!-- /.col -->
                <div class="col-xs-offset-5">
                    <button type="submit" class="btn btn-primary btn-block">Đổi mật khẩu</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
</div>
<script src="~/Themes/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/Themes/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/Themes/plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });</script>
