@model _19T1021111.Web.Controllers.Person
@{
    ViewBag.Title = "Input";
}

<h2>Person</h2>
<form action="~/Test/Input" method="post">
    <label>Name:</label>
    <input type="text" name="Name" value="@Model.Name" />
    <label>BirthDate:</label>
    <input type="text" name="Name" value="@Model.BirthDate" />
    <label>Salary:</label>
    <input type="text" name="Salary" value="@Model.Salary" />
    <button type="submit">Submit</button>
</form>

